
#Form_contenedor{
    background-color: rgb(145, 175, 145);
    border-radius: 10px;
    border: 1px solid rgb(79, 97, 80);
    width: 300px;
    height: auto;
    margin-left: 40%;
    margin-top: 5%;
}

.Form_input{
    width: 90%;
    height: 25px;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(106, 131, 110);
    font-size: medium;
    color: rgb(255, 255, 255);
  
}

.Form_label{
    margin-left: 4%;
    color:  rgb(255, 255, 255);
    font-size: medium;
}


#Form_titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0%;
}

#Form_loginButton{
    width: 55%;
    margin-left: 23%;
    margin-top: 0%;
    margin-bottom: 5%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    font-size: medium;
    background-color: rgb(108, 148, 106);
    color: rgb(254, 254, 254);
}

#Form_errorLabel{
    text-align: center;
    margin-top: 5px;
    color: rgb(245, 24, 24);
    font-size: large;
    font-weight: 700;
}