.linea {
    width: 93%;
    margin: 0 auto;
    border: 1px solid black;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;

}
.header_span{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: #426B1F;
}

.footer {
    background-color: #f2f2f2;
    height: 50px;
}

#subtitulo{
    text-align: center;
    font-family:serif;
}



#Login_contenedor{
    background-color: rgb(155, 168, 112);
    border-radius: 10px;
    border: 1px solid rgb(79, 97, 80);
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Login_input{
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border: 0px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    color: rgb(89, 81, 140);  
    text-align: center;
    box-shadow: 5px 3px 3px rgb(88, 88, 88);
  
}

.Login_input::placeholder{
    color: rgb(178, 178, 178);
    text-align: center;
}


#Login_titulo{
    text-align: center;
    color: rgb(82, 112, 93);
    font-weight: 400;
    margin-bottom: 3%;
}

#Login_loginButton{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    font-size: medium;
    background-color: rgb(45, 107, 41);
    color: rgb(254, 254, 254);
}

#Login_registerButton{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 5px;
    font-size: medium;
    background-color: rgb(24, 101, 90);
    color: rgb(254, 254, 254);
}

#Login_tituloRegistro{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

hr{
    margin: 0;
}

#Login_errorLabel{
    text-align: center;
    margin-top: 5px;
    color: rgb(185, 75, 25);
    font-size: large;

}