.contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.linea {
    width: 93%;
    margin: 0 auto;
    border: 1px solid black;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;

}
.header_span{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: #426B1F;
}

.footer {
    background-color: #f2f2f2;
    height: 50px;
}


#subtitulo{
    text-align: center;
    font-family:serif;
}