.dashboard{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr  auto;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10%;
}

.linea {
    width: 93%;
    margin: 0 auto;
    border: 1px solid black;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;

}
.header_span{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: #426B1F;
}

.footer {
    background-color: #f2f2f2;
    height: 50px;
}

.subtitulo{
    text-align: center;
    font-family:serif;
}